{{#impagination-dataset fetch=fetch page-size=pageSize as |records|}}

  {{#each records as |record index|}}
    {{#color-block record.content.hsl}} Record {{index}} {{/color-block}}
  {{/each}}

  <button {{action records.setReadOffset records.length}}>Load More</button>

{{/impagination-dataset}}
