{{markdown-to-html
  ghCodeBlocks=true
  markdown="### The `as-file-upload` helper

  The goal of `ember-impagination` is to put the fun back in asynchronous paginated datasets"
}}

{{code-snippet name="basic-upload-input.hbs"}}

{{! BEGIN-SNIPPET basic-button}}
<button class="btn btn-primary">
  Click Here to Page through a Dataset
</button>
{{! END-SNIPPET}}

<h4>Here's the full code</h4>
{{code-snippet name="basic-button.hbs"}}
